<h1><%= @product['products_name'] %></h1>
<p>Status: <%= @status %></p>

<!-- Display all the other details as required -->
<p><%= @product['products_model'] %></p>
<!-- add more fields as necessary -->
